<% @forums.each do |forum| %>
  <h2><%= forum.thread %></h2>
  <%= link_to "View Forum Thread", forum_path(forum), class: "btn btn-default" %>
  <% end %>
<%= link_to "New Forum Thread", new_forum_path %>