<p><%= comment.message%></p>
<%= link_to "Edit", edit_forum_comment_path(comment.forum, comment) %>
<%= link_to "Delete", forum_comment_path(comment.forum, comment), method: :delete data: {confirm: "Are you sure to delete this comment"} %>