<%= simple_form_for([@forum, @forum.comments.build]) do |f| %>
    <%= f.input :message, label: "Comment" %>
    <div class=links>
    <%= f.button :submit, :class => 'btn-default' %>
    </div>
<% end %>