/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 $enable-grid-classes: false;
 $enable-cssgrid: true;

 @import "bootstrap";
.thread-button {
    background-color: white;
    color: blue;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    border-radius: 8px;
    padding: 10px 20px;
    &:hover {
        color: white;
        transition: 0.5s;
        background-color: black;
        text-decoration: none0;
    }
}

.thread {
    box-sizing: border-box;
    background-color: #003399;
    margin-bottom: 25px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 1.4em 1.4em;
    height: 150px;
    border-bottom: 4px solid #FF3333;
}

.thread-title {
    font-size: 1.5em;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    margin-top: 0;
    color: white;
    margin-bottom: 25px;
}

.thread-button {
    margin-top: 20px;
}